Import Libraries

In [1]:
import csv
from pprint import pprint
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd

Functions

In [2]:
def pol2cart(rho, phi): # Polar to Cartesian
    x = rho * np.cos(phi)
    y = rho * np.sin(phi)
    return(x, y)

# THIS IS A FUNCITON YOU CAN CALL FROM OTHER PLACES TO GET THE DATA 
def CSV_Read_Lidar_data(data_path):
    rows = []
    with open('Hallway_Lidar_data_Bathroom.csv', 'r') as file:
        csvreader = csv.reader(file)
        header = next(csvreader)
        for row in csvreader:
            rows.append(row)

    # Create a Series for the header
    header_names = ['angle_min', 'angle_max', 'angle_increment', 'time_increment', 'scan_time', 'range_min', 'range_max']
    Header_info = pd.Series(header, header_names)
    Header_info

    # Translation Dataframe
    translation_names = ['trans_x', 'trans_y', 'trans_z', 'rot_x', 'rot_y', 'rot_z', 'rot_w']
    Translation_info = pd.DataFrame(np.array(rows[1::3]).T, translation_names)
    Translation_info

    # Lidar Dataframe
    # X values is the scan number, Y values are the scan pos
    Lidar_info = pd.DataFrame(np.array(rows[2::3]).T)
    Lidar_info.insert(0, "radians", np.array(list(np.multiply(float(Header_info['angle_increment']), np.arange(1, 1081))))) #insert the radians per scan
    Lidar_info

    return Header_info, Translation_info, Lidar_info

Read the CSV File

In [3]:
rows = []
with open('Hallway_Lidar_data_Bathroom.csv', 'r') as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)

Create pd Series and DataFrames

In [8]:
# Create a Series for the header
header_names = ['angle_min', 'angle_max', 'angle_increment', 'time_increment', 'scan_time', 'range_min', 'range_max']
Header_info = pd.Series(header, header_names).astype(float)
Header_info

angle_min          -3.124139
angle_max           3.141593
angle_increment     0.005807
time_increment      0.000124
scan_time           0.134113
range_min           0.150000
range_max          12.000000
dtype: float64

In [9]:
# Translation Dataframe
translation_names = ['trans_x', 'trans_y', 'trans_z', 'rot_x', 'rot_y', 'rot_z', 'rot_w']
Translation_info = pd.DataFrame(np.array(rows[1::3]).T, translation_names).astype(float)
Translation_info

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
trans_x,-9.727247,-9.727247,-9.727247,-9.727247,-10.236353,-10.287652,-10.851329,-10.860811,-11.334634,-11.316057,...,-14.612880,-14.643039,-15.477724,-15.543164,-16.038060,-16.733682,-16.809299,-17.411370,-17.404118,-17.880894
trans_y,13.630757,13.630757,13.630757,13.630757,13.609291,13.573859,13.530737,13.526849,13.557320,13.579480,...,13.544629,13.588707,13.452875,13.444162,13.356922,13.217562,13.161681,12.991398,13.010450,12.923439
trans_z,0.229064,0.229064,0.229064,0.229064,0.291084,0.304488,0.244583,0.278176,0.302835,0.293109,...,0.316161,0.296465,0.245219,0.173312,0.291117,0.398117,0.404851,0.540302,0.550827,0.035350
rot_x,-0.003311,-0.003311,-0.003311,-0.003311,-0.004598,-0.004326,-0.005868,-0.004973,-0.002121,-0.002650,...,-0.002152,-0.002695,-0.003522,-0.006095,-0.002534,0.002402,0.002211,0.004140,0.003909,-0.005256
rot_y,-0.004654,-0.004654,-0.004654,-0.004654,-0.007156,-0.007487,-0.006231,-0.006917,-0.006495,-0.006416,...,-0.006910,-0.006643,-0.005721,-0.005265,-0.006427,-0.006180,-0.006504,-0.009051,-0.009511,-0.001596
rot_z,0.958314,0.958314,0.958314,0.958314,0.957949,0.957456,0.956867,0.956822,0.957269,0.957550,...,0.956719,0.957172,0.955780,0.955696,0.955006,0.953774,0.953281,0.951857,0.952027,0.951315
rot_w,-0.285659,-0.285659,-0.285659,-0.285659,-0.286811,-0.288449,-0.290401,-0.290549,-0.289119,-0.288184,...,-0.290922,-0.289431,-0.294007,-0.294246,-0.296506,-0.300451,-0.302008,-0.306381,-0.305841,-0.308170

In [11]:
# Lidar Dataframe
# X values is the scan number, Y values are the scan pos
Lidar_info = pd.DataFrame(np.array(rows[2::3]).T)
Lidar_info.insert(0, "radians", np.array(list(np.multiply(float(Header_info['angle_increment']), np.arange(1, 1081))))) #insert the radians per scan
Lidar_info.astype(float)

,radians,0,1,2,3,4,5,6,7,8,...,18,19,20,21,22,23,24,25,26,27
0,0.005807,1.064,1.554,1.554,1.668,1.664,1.774,1.774,1.712,1.708,...,2.296,2.556,2.552,2.716,2.744,2.700,2.384,2.388,0.337,0.419
1,0.011614,1.066,1.558,1.558,1.668,1.670,1.776,1.780,1.716,1.712,...,2.232,2.560,2.560,2.728,2.744,2.744,2.384,2.320,0.337,0.420
2,0.017421,1.070,1.558,1.558,1.666,1.670,1.778,1.780,1.716,1.712,...,2.168,2.564,2.556,2.736,2.744,2.744,2.384,2.320,0.337,0.421
3,0.023228,1.070,1.556,1.558,1.670,1.674,1.782,1.780,1.716,1.716,...,2.108,2.564,2.556,2.736,2.752,2.764,2.320,2.176,0.338,0.421
4,0.029035,1.460,1.558,1.560,1.674,1.676,1.786,1.782,1.718,1.718,...,2.052,2.564,2.560,2.740,2.764,2.768,2.252,2.116,0.338,0.421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,6.248311,1.056,1.544,1.548,1.650,1.656,1.772,1.770,1.692,1.696,...,2.420,2.548,2.544,2.708,2.812,2.816,2.808,inf,0.335,0.418
1076,6.254118,1.058,1.546,1.548,1.650,1.654,1.770,1.772,1.700,1.698,...,2.416,2.552,2.548,2.712,2.816,2.816,inf,inf,0.335,0.418
1077,6.259925,1.060,1.548,1.546,1.654,1.656,1.770,1.774,1.700,1.702,...,2.448,2.552,2.552,2.720,2.824,inf,2.544,inf,0.336,0.418
1078,6.265732,1.060,1.548,1.548,1.658,1.662,1.770,1.772,1.702,1.706,...,2.360,2.548,2.548,2.716,inf,inf,2.544,inf,0.336,0.419
1079,6.271539,1.062,1.550,1.550,1.662,1.662,1.772,1.770,1.706,1.706,...,2.360,2.548,2.548,2.716,inf,inf,2.544,inf,0.337,0.419

In [7]:
# sensor_angle = sensor_angle * (180 / 3.14) 
# 0 = 0
# 90 = 269
# 180 = 540
# 270 = 810

# ' for plotting '
# array = np.arange(1, 1081)

# plt.figure()
# x_full = []
# y_full = []
# indx = 0
# for i in range(len(rows[2::3])):
#     x, y = pol2cart(list(np.array(rows[2::3][i]).astype(float)), list(np.multiply(float(sensor_angle), array)))
#     y = y + .5*indx
#     x = list(x)
#     y = list(y)
   
#     good_x = [z for z in x if z != 'inf']
#     good_y = [z for z in y if z != 'inf']
#     x_full.append(good_x)
#     y_full.append(good_y)
#     indx = indx+1
# plt.scatter(x_full, y_full, s=3)
# plt.savefig("turtlebot4_ws/src/CC_HallwayScan/CC_HallwayScan/plot.png")