Import Libraries

In [95]:
import csv
from pprint import pprint
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd

Functions

In [96]:
def pol2cart(rho, phi): # Polar to Cartesian
    x = rho * np.cos(phi)
    y = rho * np.sin(phi)
    return(x, y)

# THIS IS A FUNCITON YOU CAN CALL FROM OTHER PLACES TO GET THE DATA 
def CSV_Read_Lidar_data(data_path):
    rows = []
    with open('Hallway_Lidar_data_Bathroom.csv', 'r') as file:
        csvreader = csv.reader(file)
        header = next(csvreader)
        for row in csvreader:
            rows.append(row)

    # Create a Series for the header
    header_names = ['angle_min', 'angle_max', 'angle_increment', 'time_increment', 'scan_time', 'range_min', 'range_max']
    Header_info = pd.Series(header, header_names)
    Header_info

    # Translation Dataframe
    translation_names = ['trans_x', 'trans_y', 'trans_z', 'rot_x', 'rot_y', 'rot_z', 'rot_w']
    Translation_info = pd.DataFrame(np.array(rows[1::3]).T, translation_names)
    Translation_info

    # Lidar Dataframe
    # X values is the scan number, Y values are the scan pos
    Lidar_info = pd.DataFrame(np.array(rows[2::3]).T)
    Lidar_info.insert(0, "radians", np.array(list(np.multiply(float(Header_info['angle_increment']), np.arange(1, 1081))))) #insert the radians per scan
    Lidar_info

    return Header_info, Translation_info, Lidar_info

Read the CSV File

In [97]:
rows = []
with open('data2.csv', 'r') as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    header2 = next(csvreader)
    for row in csvreader:
        rows.append(row)
print("test")

test

Create pd Series and DataFrames

In [98]:
# Create a Series for the header
header_names = ['angle_min', 'angle_max', 'angle_increment', 'time_increment', 'scan_time', 'range_min', 'range_max']
Header_info = pd.Series(header, header_names).astype(float)
Header_info

angle_min          -3.124139
angle_max           3.141593
angle_increment     0.005807
time_increment      0.000125
scan_time           0.134392
range_min           0.150000
range_max          12.000000
dtype: float64

In [99]:
# Translation Dataframe
translation_names = ['trans_x', 'trans_y', 'trans_z', 'rot_x', 'rot_y', 'rot_z', 'rot_w']
Translation_info = pd.DataFrame(np.array(rows[5::6]).T, translation_names).astype(float)
Translation_info

                0         1         2         3         4         5
trans_x  3.766603  3.766603  3.766038  3.766038  3.530651  3.490287
trans_y -1.410189 -1.410189 -1.411570 -1.411570 -1.298813 -1.278725
trans_z  0.263231  0.263231  0.263235  0.263235  0.261750  0.256615
rot_x   -0.001492 -0.001492 -0.001520 -0.001520 -0.001060 -0.000791
rot_y   -0.003765 -0.003765 -0.003754 -0.003754 -0.003674 -0.003038
rot_z    0.027773  0.027773  0.027582  0.027582  0.042401  0.045178
rot_w    0.999606  0.999606  0.999611  0.999611  0.999093  0.998974

In [100]:
# Lidar Dataframe
# X values is the scan number, Y values are the scan pos
Lidar_info = pd.DataFrame(np.array(rows[1::6]).T)
Lidar_info.insert(0, "radians", np.array(list(np.multiply(float(Header_info['angle_increment']), np.arange(1, 1081))))) #insert the radians per scan
Lidar_info.astype(float)
Lidar_info

,radians,0,1,2,3,4,5,6
0,0.005807,1.2079999446868896,1.2100000381469727,0.9559999704360962,0.9399999976158142,2.808000087738037,inf,2.0199999809265137
1,0.011614,1.2120000123977661,1.2120000123977661,0.9559999704360962,0.9399999976158142,2.808000087738037,2.808000087738037,2.0199999809265137
2,0.017421,1.2259999513626099,1.2259999513626099,0.949999988079071,0.9399999976158142,2.808000087738037,2.808000087738037,2.01200008392334
3,0.023228,1.2380000352859497,1.2380000352859497,0.9419999718666077,0.9359999895095825,2.808000087738037,2.808000087738037,2.0160000324249268
4,0.029035,1.24399995803833,1.2380000352859497,0.9340000152587891,0.9399999976158142,inf,4.9679999351501465,2.0220000743865967
...,...,...,...,...,...,...,...,...
1075,6.248311,1.1720000505447388,1.1720000505447388,1.24399995803833,0.9520000219345093,1.8359999656677246,1.8359999656677246,2.0360000133514404
1076,6.254118,1.1779999732971191,1.1799999475479126,1.2419999837875366,0.9520000219345093,1.8320000171661377,1.8259999752044678,2.0320000648498535
1077,6.259925,1.2020000219345093,1.1740000247955322,0.9639999866485596,0.9459999799728394,1.8339999914169312,2.8239998817443848,2.0320000648498535
1078,6.265732,1.2020000219345093,1.1820000410079956,0.9639999866485596,0.9300000071525574,inf,2.8239998817443848,2.0339999198913574
1079,6.271539,1.2020000219345093,1.2020000219345093,inf,0.9300000071525574,inf,2.8239998817443848,2.0220000743865967

In [101]:
# Odometry Dataframe
Odometry_info = pd.DataFrame(np.array(rows[3::6]).T)
Odometry_info.astype(float)
Odometry_info

,0,1,2,3,4,5
0,-3.684300422668457,-3.684300422668457,-3.1951611042022705,-3.1919965744018555,-2.693913221359253,-2.6896259784698486
1,1.6178990602493286,1.6178990602493286,1.570137858390808,1.5697803497314453,1.50792396068573,1.50737464427948
2,-0.2306474894285202,-0.2306474894285202,-0.23440343141555786,-0.23442454636096954,-0.23843900859355927,-0.23845571279525757

In [102]:
# sensor_angle = sensor_angle * (180 / 3.14) 
# 0 = 0
# 90 = 269
# 180 = 540
# 270 = 810

# ' for plotting '
# array = np.arange(1, 1081)

# plt.figure()
# x_full = []
# y_full = []
# indx = 0
# for i in range(len(rows[2::3])):
#     x, y = pol2cart(list(np.array(rows[2::3][i]).astype(float)), list(np.multiply(float(sensor_angle), array)))
#     y = y + .5*indx
#     x = list(x)
#     y = list(y)
   
#     good_x = [z for z in x if z != 'inf']
#     good_y = [z for z in y if z != 'inf']
#     x_full.append(good_x)
#     y_full.append(good_y)
#     indx = indx+1
# plt.scatter(x_full, y_full, s=3)
# plt.savefig("turtlebot4_ws/src/CC_HallwayScan/CC_HallwayScan/plot.png")