In [90]:
import csv
from pprint import pprint
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd
import pickle

Tracking section

In [91]:
rows = []
file_name = 'RISLlab_Lidar_of_walking'
with open(file_name+'.csv', 'r') as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)
print("test")

headers = np.array(header).T

test

In [92]:
translation_df = pd.DataFrame(np.array(rows[3::5]))
translation_df = translation_df.T.astype(float)
translation_df

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,4.294495,4.294495,4.294495,4.294495,4.294495,4.294495,4.294495,4.294495,4.294495,4.294495,...,4.294911,4.294911,4.294341,4.294341,4.294341,4.295062,4.295062,4.295062,4.295062,4.295062
1,-11.277810,-11.277810,-11.277810,-11.277810,-11.277810,-11.277810,-11.277810,-11.277810,-11.277810,-11.277810,...,-11.277755,-11.277755,-11.277927,-11.277927,-11.277927,-11.277595,-11.277595,-11.277595,-11.277595,-11.277595
2,0.282471,0.282471,0.282471,0.282471,0.282471,0.282471,0.282471,0.282471,0.282471,0.282471,...,0.278351,0.278351,0.279991,0.279991,0.279991,0.282734,0.282734,0.282734,0.282734,0.282734
3,0.017811,0.017811,0.017811,0.017811,0.017811,0.017811,0.017811,0.017811,0.017811,0.017811,...,0.018136,0.018136,0.017884,0.017884,0.017884,0.017525,0.017525,0.017525,0.017525,0.017525
4,0.008545,0.008545,0.008545,0.008545,0.008545,0.008545,0.008545,0.008545,0.008545,0.008545,...,0.008649,0.008649,0.008472,0.008472,0.008472,0.008247,0.008247,0.008247,0.008247,0.008247
5,0.891416,0.891416,0.891416,0.891416,0.891416,0.891416,0.891416,0.891416,0.891416,0.891416,...,0.891415,0.891415,0.891413,0.891413,0.891413,0.891440,0.891440,0.891440,0.891440,0.891440
6,0.452755,0.452755,0.452755,0.452755,0.452755,0.452755,0.452755,0.452755,0.452755,0.452755,...,0.452742,0.452742,0.452759,0.452759,0.452759,0.452725,0.452725,0.452725,0.452725,0.452725

In [93]:
# create a dataframe of the radian alphas
# create a lidar rho dataframe
rho_df = pd.DataFrame(np.array(rows[1::5]))
rho_df = rho_df.T
rho_df

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.6859999895095825,1.6859999895095825,1.687999963760376,...,1.6859999895095825,1.690000057220459,1.690000057220459,1.687999963760376,1.690000057220459,1.690000057220459,1.684000015258789,1.6859999895095825,1.690000057220459,1.690000057220459
1,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,...,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.684000015258789,1.684000015258789,1.687999963760376,1.687999963760376
2,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,...,1.684000015258789,1.684000015258789,1.684000015258789,1.687999963760376,1.684000015258789,1.684000015258789,1.6859999895095825,1.6859999895095825,1.684000015258789,1.684000015258789
3,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,...,1.684000015258789,1.6820000410079956,1.684000015258789,1.6859999895095825,1.684000015258789,1.684000015258789,1.6859999895095825,1.6859999895095825,1.684000015258789,1.684000015258789
4,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,...,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,1.6920000314712524,1.6920000314712524,1.6920000314712524,1.6920000314712524,1.6920000314712524,1.6920000314712524,1.6920000314712524,1.6920000314712524,1.690000057220459,1.690000057220459,...,1.684000015258789,1.684000015258789,1.6859999895095825,1.684000015258789,1.684000015258789,1.684000015258789,1.6959999799728394,1.6959999799728394,1.687999963760376,1.687999963760376
1076,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,...,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.684000015258789,1.6859999895095825,1.6859999895095825,1.690000057220459,1.690000057220459,1.687999963760376,1.6859999895095825
1077,1.684000015258789,1.684000015258789,1.684000015258789,1.684000015258789,1.684000015258789,1.684000015258789,1.684000015258789,1.6799999475479126,1.6820000410079956,1.6820000410079956,...,1.6859999895095825,1.6859999895095825,1.687999963760376,1.6820000410079956,1.687999963760376,1.687999963760376,1.6820000410079956,1.6820000410079956,1.6859999895095825,1.687999963760376
1078,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.6859999895095825,1.684000015258789,1.6859999895095825,1.6859999895095825,...,1.687999963760376,1.687999963760376,1.687999963760376,1.6859999895095825,1.687999963760376,1.687999963760376,1.6859999895095825,1.684000015258789,1.687999963760376,1.687999963760376
1079,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,1.687999963760376,...,1.684000015258789,1.687999963760376,1.687999963760376,1.6859999895095825,1.687999963760376,1.687999963760376,1.6859999895095825,1.6859999895095825,1.687999963760376,1.687999963760376

In [94]:

alpha_df = pd.DataFrame()

for i in range(rho_df.shape[1]):
    # Header_info.loc['angle_increment'][i] * np.arange(1, 1081)
    alpha_df[i] = Header_info.loc['angle_increment'][0] * np.arange(1, 1081) - math.pi/2
# alpha_df = alpha_df.transpose().drop(del_indexes, axis=1).transpose()
alpha_df[0]

C:\Users\ian.picklo\AppData\Local\Temp\ipykernel_14008\1035661258.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  alpha_df[i] = Header_info.loc['angle_increment'][0] * np.arange(1, 1081) - math.pi/2

0      -1.564989
1      -1.559182
2      -1.553375
3      -1.547568
4      -1.541761
          ...
1075    4.677514
1076    4.683321
1077    4.689128
1078    4.694935
1079    4.700742
Name: 0, Length: 1080, dtype: float64

In [95]:
difference = rho_df[0].astype(float)-rho_df[20].astype(float)
indx = np.array(list(difference[difference.astype(float) <= 0.01].index))
print(len(rho_df))

1080

In [132]:
rho_df[0]

0        1.687999963760376
1       1.6859999895095825
2       1.6859999895095825
3       1.6859999895095825
4       1.6859999895095825
               ...
1075    1.6920000314712524
1076    1.6859999895095825
1077     1.684000015258789
1078    1.6859999895095825
1079     1.687999963760376
Name: 0, Length: 1080, dtype: object

In [143]:
def find_cont_leg(rho_df,thresh=.08):
    longest = []
    lastest = []
    for i in range(1,len(rho_df)):
        if rho_df[i] - rho_df[i-1] < thresh:
            lastest.append(i)
            if len(lastest)> len(longest):
                longest = lastest  
        else:
            lastest = []

    return longest

find_cont_leg(rho_df[0].astype(float))

C:\Users\ian.picklo\AppData\Local\Temp\ipykernel_14008\2149081444.py:5: RuntimeWarning: invalid value encountered in scalar subtract
  if rho_df[i] - rho_df[i-1] < thresh:

[277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420]

In [155]:
def pol2cart(rho, phi):
        x = rho * np.cos(phi)
        y = rho * np.sin(phi)
        return(x, y)
color = []
for i in range(501):
        
    color.append(i/501)
color = np.array(color)

colors = plt.cm.rainbow(np.linspace(0, 1, 501))

plt.figure(figsize=(10, 10))
start =  pd.DataFrame(pol2cart(rho_df[0].astype(float), alpha_df[0].astype(float)), ['X', 'Y']).T
# plt.scatter(start['X'], start['Y'], s=1,color = 'black')
for i in range(10,501):
    difference = rho_df[i-10].astype(float)-rho_df[i].astype(float)
    indx = np.array(list(difference[difference.astype(float) <= 0.01].index))       
    cartesian_df = pd.DataFrame(pol2cart(rho_df[i].astype(float), alpha_df[i].astype(float)), ['X', 'Y'])
    cartesian_df = cartesian_df.drop(indx, axis=1).T

    row_now = rho_df[i] 
    alpha_now = alpha_df[i]
    row_now.drop(indx)
    alpha_now.drop(indx)
    find_cont_leg(row_now.astype(float))

    feet_df = row_now
    indx2 = find_cont_leg(feet_df.astype(float))
    
    print(feet_df)
    

    feet_df.drop(indx2).T
    alpha_now.drop(indx2).T
    cart_feet_df = pd.DataFrame(pol2cart(feet_df.astype(float), alpha_now.astype(float)), ['X', 'Y'])
    print(cart_feet_df)
    
    plt.scatter(cart_feet_df['X'], cart_feet_df['Y'], s=5,color =colors[i])
plt.show()

0        1.687999963760376
1       1.6859999895095825
2       1.6859999895095825
3       1.6859999895095825
4        1.687999963760376
               ...
1075     1.687999963760376
1076    1.6859999895095825
1077    1.6820000410079956
1078    1.6859999895095825
1079     1.687999963760376
Name: 10, Length: 1080, dtype: object
       0         1         2         3         4         5         6     \
X  0.009802  0.019581  0.029370  0.039159  0.049004  0.058801  0.068759
Y -1.687972 -1.685886 -1.685744 -1.685545 -1.687289 -1.686975 -1.690602

       7         8         9     ...      1070      1071      1072      1073  \
X  0.078761  0.088597  0.098547  ... -0.107934 -0.098138 -0.088444 -0.078816
Y -1.694170 -1.693684 -1.695138  ... -1.686550 -1.687148 -1.689687 -1.694168

       1074      1075      1076      1077      1078      1079
X -0.068814 -0.058856 -0.049001 -0.039121 -0.029425 -0.019659
Y -1.690600 -1.686974 -1.685288 -1.681545 -1.685743 -1.687885

[2 rows x 1080 columns]

C:\Users\ian.picklo\AppData\Local\Temp\ipykernel_14008\2149081444.py:5: RuntimeWarning: invalid value encountered in scalar subtract
  if rho_df[i] - rho_df[i-1] < thresh:
C:\Users\ian.picklo\AppData\Local\Temp\ipykernel_14008\2149081444.py:5: RuntimeWarning: invalid value encountered in scalar subtract
  if rho_df[i] - rho_df[i-1] < thresh:

KeyError: 'X'